<!DOCTYPE html>
<html>
<head>
  <title>Red Social Unetec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">\
  		<div class="container">
  			<a href="#" class="navbar-brand"> 
  			Unetec </a>
  			<ul class="nav navbar-nav">
  				<li class="active"><%= link_to "Status", statuses_path %></li>
  			</ul>
  		</div>
  </div>
  
  <div class="container">
     <%= yield %>
  </div>

</body>
</html>
